{% extends 'master.html' %}
{% block content %}

{% load static %}



<div class="mask d-flex align-items-center h-100 gradient-custom-3">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card" style="border-radius: 15px;box-shadow:5px 10px 20px grey ;">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">add medicine</h2>

            <form method="POST" action="">

              {% csrf_token %}

              <div class="row mb-4">
                <label for="inputEmail3" class="col-sm-4 col-form-label" style="text-transform:uppercase">Medicine
                  Name</label>
                <div class="col-sm-8">
                  <input type="text" name="name" class="form-control" id="inputEmail3">
                </div>
              </div>

              <div class="row mb-4">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Purchase Coast</label>
                <div class="col-sm-8">
                  <input type="text" name="pcost" class="form-control" id="inputEmail3">
                </div>
              </div>


              <div class="row mb-4">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Selling Cost</label>
                <div class="col-sm-8">
                  <input type="text" name="scost" class="form-control" id="inputEmail3">
                </div>
              </div>

              <div class="row mb-4">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                  <input type="text" name="quantity" class="form-control" id="inputEmail3">
                </div>
              </div>

              <div class="row mb-4">
                <label for="inputEmail3" class="col-sm-4 col-form-label">Description</label>
                <div class="col-sm-8">
                  <input type="text" name="description" class="form-control" id="inputEmail3">
                </div>
              </div>

              <div class="d-flex justify-content-center">
                <button type="submit" class="btn btn btn-outline-success  btn-block gradient-custom-4 text-body">Add
                  medcine</button>
              </div>

            </form>

            {{message}}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}