{% extends 'master.html' %}
{% block content %}

{% load static %}

<div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10">

        <table class="table table-striped" style="border: 1px grey solid;margin-top: 20px;">  
            <thead class="table-info">
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Purchase Cost</th>
                {% comment %} <th scope="col">Selling Cost</th> {% endcomment %}
                <th scope="col">Quantity</th>
              </tr>
            </thead>
            <tbody>
              {% for i in med%}
              <tr>
                <th scope="row">{{i.id}}</th>
                <td>{{i.name}}</td>
                <td>{{i.purchase_cost}}</td>
                <td>{{i.quantity}}</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
    </div>
    <div class="col-lg-1"></div>
</div>


{% endblock %}